<%= if @chore do %>
<div style="position: absolute; top: 0; left: 0; z-index: 100; background-color: black; opacity: .3; display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;" phx-click="deselect_chore">
</div>
<div id="<%=@chore.id%>-modal" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 101; padding: 10px; background-color: white; min-height: 200px; min-width: 300px; max-height: 300px; overflow-y: scroll;">
  <%= for {message, timestamp} <- @chore.logs do %>
    <p id="<%= "#{@chore.id}-#{timestamp}" %>"><%= message %></p>
  <% end %>
</div>
<% end %>
