<div class="chore-item">
  <div class="chore-item-name"><%= @chore.mod %></div>
  <div class="chore-item-recentlog">
    <%= first_log(@chore.logs) %>
  </div>
  <div class="chore-item-stats">
    <%= for {key, val} <- @chore.values do %>
    <div class="chore-item-stats-scalar">
      <%= key %>: <%= val %>
    </div>
    <% end %>
  </div>
</div>
