<%= case @type do %>
  <% :bool -> %>
    <div class="chore-form-input-wrapper chore-form-top-level-input-wrapper">
      <%= label @form, @key, class: "chore-form-label" %>
      <%= checkbox @form, @key, checkbox_input_options(@form, @key, @persist_inputs_in_url?) %>
      <%= render(__MODULE__, "chore_input_description.html", opts: @opts) %>
      <%= render(__MODULE__, "chore_input_errors.html", chore_errors: @chore_errors, key: @key) %>
    </div>
  <% :string -> %>
    <div class="chore-form-input-wrapper chore-form-top-level-input-wrapper">
      <%= label @form, @key, class: "chore-form-label" %>
      <%= text_input @form, @key, input_options("chore-form-input chore-form-text-input", @persist_inputs_in_url?) %>
      <%= render(__MODULE__, "chore_input_description.html", opts: @opts) %>
      <%= render(__MODULE__, "chore_input_errors.html", chore_errors: @chore_errors, key: @key) %>
    </div>
  <% type when type in [:int, :float] -> %>
    <div class="chore-form-input-wrapper chore-form-top-level-input-wrapper">
      <%= label @form, @key, class: "chore-form-label" %>
      <%= number_input @form, @key, input_options("chore-form-input chore-form-text-input chore-form-number-input", @persist_inputs_in_url?) %>
      <%= render(__MODULE__, "chore_input_description.html", opts: @opts) %>
      <%= render(__MODULE__, "chore_input_errors.html", chore_errors: @chore_errors, key: @key) %>
    </div>
  <% :select -> %>
    <div class="chore-form-input-wrapper chore-form-top-level-input-wrapper">
      <%= label @form, @key, class: "chore-form-label" %>
      <%= select @form, @key, select_options(@opts), select_input_options(@opts, @persist_inputs_in_url?) %>
      <%= render(__MODULE__, "chore_input_description.html", opts: @opts) %>
      <%= render(__MODULE__, "chore_input_errors.html", chore_errors: @chore_errors, key: @key) %>
    </div>
  <% :file -> %>
    <div class="chore-form-file-input-wrapper chore-form-top-level-input-wrapper" phx-drop-target={Map.get(@uploads, @key).ref}>
      <div class="chore-form-input-wrapper">
        <%= label @form, @key, class: "chore-form-label" %>
        <.live_file_input upload={Map.get(@uploads, @key)} class="chore-form-input chore-form-file-input" />
        <%= render(__MODULE__, "chore_input_description.html", opts: @opts) %>
      </div>
      <%= render(__MODULE__, "chore_input_errors.html", chore_errors: @chore_errors, key: @key) %>
      <%= for entry <- Map.get(@uploads, @key).entries do %>
        <div class="chore-form-file-entry">
          <span class="chore-form-file-name" title={entry.client_name}>
            Selected file: <strong><%= entry.client_name %></strong>
          </span>
          <progress value={entry.progress} max="100"> <%= entry.progress %>% </progress>
        </div>
        <%= for error <- upload_errors(Map.get(@uploads, @key), entry) do %>
          <p class="alert alert-danger"><%= inspect(error) %></p>
        <% end %>
      <% end %>
    </div>
  <% _ -> %>
    What was this supposed to be?
<% end %>
