.chore-container {
  width: 100%;
  height: 100%;
  padding-left: 2em;
  padding-right: 2em;
}

.running-chores {
  list-style-type: none;
  background-color: white;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding: 0.25em;
  padding-top: 0.5em;
  box-shadow: 1px 2px rgba(128, 128, 128, 0.432) inset;
  height: 40em;
  overflow-y: scroll;
}

.chore-menu {
  background-color: blue;
  width: 100%;
  min-height: 10em;
  margin-top: 0.25em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;

}

.chore-form-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 5em;
  padding: 1em;
}

.chore-form-select {
  height: 2em;
}

.chore-form-flexbox {
  display: flex;
  flex-direction: column;
}

.chore-form-inputs-flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.chore-form-file-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chore-form-input-errors-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chore-form-input-wrapper {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.chore-form-label {
  color: white;
}

.chore-form-file-input {
  color: white;
}

.chore-run-submit-button {
  align-self: flex-end;
}

.chore-item {
  margin-bottom: 0.1em;
  width: 100%;
  min-height: 5em;
  border-radius: 1em;
  background-color: white;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 100%;
  font-weight: bold;
  border: 1px solid rgba(233, 233, 233, 0.432);
  box-shadow: 2px 2px rgba(128, 128, 128, 0.432);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chore-item-recentlog {
  font-family: Courier New, monospace;
  padding-left: 0.5em;
  padding-right: 0.5em;
  height: 4em;
  width: 20em;
  overflow-wrap: normal;
  background-color: black;
  color: white;
  box-shadow: 1px 2px rgba(128, 128, 128, 0.432) inset;
  text-align: left;
}

.chore-item-stats {
  width: 5em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.chore-item-stats>div {
  width: 2em;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}