.chore-item {
  margin: 5px 20px;
  margin-bottom: 0.1em;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;

  &:first-of-type {
    margin-top: 20px;
  }
}

.chore-item-name {
  background-color: #d9d9d9;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > span {
    text-transform: uppercase;
    font-family: Source Sans Pro;
    font-weight: 400;
    color: #262626;
  }
}

.chore-item-content-container {
  display: flex;
}

.chore-item-recentlog {
  font-family: Courier New, monospace;
  padding: 20px 24px;
  color: #595959;
  width: 50%;
}

.chore-item-stats {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 24px;
}

.chore-item-stats-scalar {
  padding: 5px;
  margin: 5px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  flex: 0 0 45%;
  min-height: 30px;
  display: flex;
  flex-direction: column;

  & span:first-child {
    font-family: Source Sans Pro;
    font-size: 12px;
    color: #828282;
  }

  & span:nth-child(2) {
    font-family: Source Sans Pro;
    font-size: 28px;
  }
}
