@import "variables";

.chore-container {
  width: 100%;
  height: 100vh;
  max-width: 100vw !important;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

.chore-menu {
  background-color: $pepdirect-gray6;
  padding: 10px 20px;
  min-width: 250px;
}

.running-chores-container {
  flex: 1;
}
